body {
  background: #fff;
}

main {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 128px;
  flex-direction: column;
}

main h1 {
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 134px;
}

li {
  margin-bottom: 20px;
  font-weight: 500;
}

li:first-child {
  margin-top: 10px;
}

@media only screen and (max-width: 639px) {
  main {
    padding: 128px 24px;
  }

  main h1 {
    font-size: 28px;
    margin-bottom: 72px;
  }
}
