.policy {
  background: #fff;
}

.policy main {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 128px;
  flex-direction: column;
}

.policy h1 {
  font-family: Noto Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 134px;
}

.policy li {
  margin-bottom: 20px;
  font-weight: 500;
}

.policy li:first-child {
  margin-top: 10px;
}